* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
#seo {
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}


.banner-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}


/* Renamed content classes to meaningful "what-we-do" and placed above "benefits" to correspond with html file. Consolidated selectors. */
.what-we-do {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.what-we-do section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.what-we-do img {
    max-height: 200px;
}
.what-we-do h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}


/* Moved benefits formatting code to bottom of doc to correspond with this aside's placement in the html file. Consolidated selectors. */
.benefits {
    margin-right: 20px;
    margin-bottom: 32px;
    color: #ffffff;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefits p {
    margin-bottom: 32px;
}
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer p {
    font-size: 20px;
}
